.container_mensaje {
    width: 100%;
    height: calc(100dvh - 75px - 75px);
    display: flex;
    flex-direction: column;
    background-image: url('/Assets/background.jpg');
    background-size: cover;
    overflow-y: auto;
    color: var(--color-fuente-home)
}


.container_mensaje::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container_mensaje::-webkit-scrollbar-thumb {
    background-color: #81808062;
}

.mensaje_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat_text {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.mensaje {
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    margin: 10px 15px;
}

.mensaje p {
    margin: 0;
}

.contacto {
    align-self: flex-start;
    background-color: var(--color-home-primary);
}

.user {
    align-self: flex-end;
    background-color: var(--color-message);
}


.time_data_chat {
    display: flex;
    font-size: 1rem;
    gap: 10px;
}

/* estilo de los mensajes skeleton */
.mensaje_skeleton {
    width: 100%;
    max-width: 200px;
    padding: 20px;
}
.mensaje_skeleton:nth-child(odd){
    align-self: flex-start;
}
.mensaje_skeleton:nth-child(even){
    align-self: flex-end;
}
/*  */