.container_intput_enviar_mensaje {
    background-color: var(--color-home-secondary);
    padding: 20px;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.form_enviar_mensaje {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn_enviar_mensaje {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--color-fuente-home);
}

.input_enviar_mensaje {
    border: none;
    border-radius: 10px;
    background-color: var(--color-home-primary);
    height: 40px;
    border: none;
    color: var(--color-fuente-home);
}

.input_enviar_mensaje:hover {
    box-shadow: none;
}

.input_enviar_mensaje:focus {
    outline: none;
}

.error_message {
    position: absolute;
    top: -20px; 
    left: 0;
    background-color: var(--color-error); 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
}

