@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*  */
:root {
    --color-primary: rgb(37, 211, 102);
    --color-background: rgb(252, 245, 235);
    --color-fuente: rgb(17, 27, 33)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--color-background)
}


.container_login {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
    position: relative;
    background-color: var(--color-background)
}

.container_logo_login {
    color: var(--color-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.logo_login {
    font-size: 2.5rem;
}

.icon_login {
    font-size: 3rem;
}

.card_form_login {
    width: 970px;
    height: 480px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background-color: white;
}

.title_login {
    font-size: 3rem;
    color: var(--color-fuente);
}

.subtitle_login {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-fuente);
}


.form_login {
    width: 300px;
}

.button_login {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: var(--color-primary);
}

.row_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 2px;
    font-size: 1rem;
    position: relative;
}

.error_form {
    text-align: center;
    width: 93%;
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--color-fuente);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
    top: 61px;
    position: absolute;
    z-index: 10;
}

.error_global{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--color-fuente);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.container_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.links_login {
    color: var(--color-fuente);
    text-decoration: none;
    font-size: 1rem;
    transition: text-decoration-color 0.3s ease;
}

.links_login:hover {
    text-decoration: underline 2px;
    text-decoration-color: var(--color-primary);
}

.footer_login {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.icon_footer {
    font-size: 1.2rem;
}



input {
    height: 30px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;

}

input:hover {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(37, 211, 102, 0.5);
}


/* Medias Queries */
@media screen and (max-width: 1200px) {
    body {
        font-size: 25px;
    }

    .card_form_login {
        width: 800px;
    }
}

@media screen and (max-width: 920px) {
    body {
        font-size: 18px;
    }

    .container_logo_login {
        width: 300px;
        justify-content: center;
        align-items: center;
    }

    .icon_login {
        font-size: 3.5rem;
    }

    .logo_login {
        font-size: 2.5rem;
    }

    .card_form_login {
        width: 400px;
    }

    .title_login {
        font-size: 1.5rem;
        text-align: center;
    }

    .subtitle_login {
        font-size: 1rem;
    }

    .footer_login {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .icon_footer {
        display: none;
    }

}


@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .container_login {
        gap: 5px;
    }

    .container_logo_login {
        width: 300px;
        justify-content: center;
    }

    .icon_login {
        font-size: 3rem;
    }

    .logo_login {
        font-size: 2.5rem;
    }

    .card_form_login {
        width: 300px;
    }

    .title_login {
        font-size: 1.5rem;
        text-align: center;
    }

    .subtitle_login {
        font-size: 1rem;
    }

    .form_login {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer_login {
        width: 100%;
        padding-top: 20px;
    }

    .icon_footer {
        display: none;
    }

}